.recipe_main {
  width: 90%;
  margin: 0 auto;
}

.recipe_wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.form {
  margin-left: 1%;
  margin-bottom: 2%;
}

.form input {
  height: 42px;
  width: 250px;
  font-size: 16px;
  border-radius: 0.7rem 0 0 0.7rem;
  padding-left: 10px;
  border: 2px solid #177a30;
}

.form button {
  height: 48px;
  width: 60px;
  font-size: 16px;
  border-radius: 0 0.7rem 0.7rem 0;
  background-color: #177a30;
  border: none;
  color: white;
  cursor: pointer;
}

.form button:hover {
  background-color: #136828;
}

@media only screen and (max-width: 1024px) {
  .form {
    margin-left: 1.65%;
  }
}

@media only screen and (max-width: 800px) {
  .form input {
    font-size: 14px;
  }

  .form button {
    font-size: 14px;
  }
}

@media only screen and (max-width: 600px) {
  .form {
    margin-left: 2%;
  }

  .form input {
    height: 34px;
    width: 200px;
  }

  .form button {
    height: 40px;
    width: 50px;
  }
}

@media only screen and (max-width: 480px) {
  .form {
    margin-left: 0;
  }

  .form input {
    height: 30px;
    width: 200px;
  }

  .form button {
    height: 36px;
    width: 50px;
  }
}
