.form_login {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form_container {
  border-radius: 1rem;
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

p {
  margin: 0;
}

.username,
.psw,
.btn {
  width: 80%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.confirmpsw {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 5%;
}

.username p,
.psw p,
.confirmpsw p {
  color: #ff2a2a;
  font-size: 12px;
  font-weight: bold;
}

.username label,
.psw label,
.confirmpsw label {
  font-size: 16px;
  margin-bottom: 2%;
}

.username input,
.psw input,
.confirmpsw input  {
  height: 4vmin;
  border-radius: 0.5rem;
  border: none;
}

.btn button {
  width: 100%;
  height: 4.7vmin;
  border-radius: 0.5rem;
  border: none;
  background-color: #80db4f;
  color: white;
  font-size: 16px;
  margin-bottom: 2.5%;
  cursor: pointer;
}

.btn .btndisabled {
  background-color: #80db4fb7;
  pointer-events: none;
}

.btn button:hover {
  background-color: #80db4fda;
}

.btn p {
  font-size: 16px;
}

.btn p span {
  font-weight: bold;
  cursor: pointer;
}

.btn p span:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 800px) {
  .form_login {
    margin-top: -4%;
  }

  .form_container {
    justify-content: space-around;
  }

  .username input,
  .psw input,
  .confirmpsw input {
    height: 5vmin;
  }

  .btn button {
    height: 5.8vmin;
    font-size: 14px;
  }

  .username label,
  .psw label,
  .confirmpsw label {
    font-size: 14px;
  }

  .btn p {
    font-size: 14px;
  }
}

@media only screen and (max-width: 414px) {
  .btn button {
    height: 5.8vmin;
    font-size: 11px;
  }

  .username label,
  .psw label,
  .confirmpsw label {
    font-size: 11px;
  }

  .btn p {
    font-size: 11px;
  }
}
