* {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: rgb(238, 236, 248);
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -5%;
}

#title {
  font-size: 38px;
  color: rgb(48, 47, 47);
  margin-top: 0;
}

#counter {
  background-color: white;
  width: 90px;
  height: 160px;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(133, 132, 132, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 0.2% 0;
  margin-bottom: 1.8rem;
}

#counter button {
  border-color: none;
  border: 0px;
  width: 80%;
  height: 38px;
  border-radius: 10px;
  cursor: pointer;
}

.increment {
  font-size: 25px;
  color: rgb(19, 109, 34);
  background-color: rgba(23, 139, 43, 0.2);
}

.decrement {
  font-size: 25px;
  color: rgb(214, 21, 21);
  background-color: rgba(233, 39, 39, 0.2);
}

.increment:hover {
  background-color: rgba(23, 139, 43, 0.4);
}

.decrement:hover {
  background-color: rgba(233, 39, 39, 0.4);
}

.number {
  font-size: 25px;
  font-weight: bold;
  margin: 0;
  color: rgb(48, 47, 47);
}

/*toggle button*/
.toggle {
  display: flex;
  align-items: center;
}

#btn {
  padding-right: 1rem;
  margin: 0;
  margin-bottom: 0.2rem;
}

.switch {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-btn .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgb(30, 32, 42);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  right: 4px;
  bottom: 3px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: rgb(198, 198, 201);
}

input:checked + .slider:before {
  -webkit-transform: translateX(-18px);
  -ms-transform: translateX(-18px);
  transform: translateX(-18px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
  background-color: white;
}

/*dark mode*/
#body.active {
  background-color: rgb(30, 32, 42);
}

#title.active,
#btn.active,
.number.active {
  color: white;
}

#counter.active {
  background-color: rgb(41, 43, 61);
  box-shadow: 0px 5px 10px rgb(24, 25, 43);
}

.increment.active {
  background-color: rgba(19, 109, 34, 0.5);
  color: rgba(41, 236, 73, 0.5);
}

.decrement.active {
  background-color: rgba(214, 21, 21, 0.5);
  color: rgba(241, 63, 63, 0.8);
}

.increment.active:hover {
  background-color: rgba(41, 236, 73, 0.2);
}

.decrement.active:hover {
  background-color: rgba(241, 63, 63, 0.4);
}
