.favorite_card {
  box-sizing: border-box;
  background-color: #80db4f;
  border-radius: 0.7rem;
  width: 48%;
  height: 7vmax;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 1.5%;
}

.favorite_main {
  display: flex;
}

.favorite_title h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 600px;
  color: white;
}

.favorite_title {
  margin: 0;
  width: 80%;
  height: 7vmax;
  padding-left: 3%;
  padding-right: 3%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info,
.close {
  color: white;
}

.info:hover,
.close:hover {
  color: #183128;
}

.favorite_info {
  cursor: pointer;
  width: 20%;
  height: 7vmax;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-evenly;
}

@media only screen and (max-width: 1280px) {
  .favorite_title h3 {
    font-size: 16px;
  }
}

@media only screen and (max-width: 1024px) {
  .favorite_card {
    height: 10vmax;
  }

  .favorite_title {
    height: 10vmax;
  }

  .favorite_info {
    height: 10vmax;
  }
}

@media only screen and (max-width: 800px) {
  .favorite_title h3 {
    font-size: 14px;
  }
}

@media only screen and (max-width: 600px) {
  .favorite_card {
    width: 100%;
    height: 7vmax;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 3%;
  }

  .favorite_title {
    height: 7vmax;
  }

  .favorite_info {
    height: 7vmax;
  }
}

@media only screen and (max-width: 480px) {
  .favorite_card {
    height: 13vmax;
  }

  .favorite_title {
    height: 13vmax;
  }

  .favorite_info {
    height: 13vmax;
  }
}
