.authentication {
  width: 70%;
  height: 60vh;
  margin: 0 auto;
  background-color: rgba(253, 255, 180, 0.9);
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3%;
}

.copy {
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.copy p {
  margin: 0;
  font-size: 16px;
  line-height: 2.1rem;
  text-align: justify;
  letter-spacing: 0.03rem;
}

@media only screen and (max-width: 800px) {
  .authentication {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0%;
  }

  .copy {
    padding-top: 5%;
    padding-bottom: 0;
  }

  .copy p {
    font-size: 14px;
    line-height: 1.8rem;
  }
}

@media only screen and (max-width: 600px) {
  .authentication {
    height: 70vh;
  }
}

@media only screen and (max-width: 414px) {
  .authentication {
    width: 80%;
  }

  .copy {
    padding-top: 7%;
  }

  .copy p {
    font-size: 12px;
    line-height: 1.4rem;
  }
}
