.news_text h3 {
  color: white;
  font-size: 25px;
  margin: 0;
}

.news_text p {
  color: white;
  font-size: 17px;
}

.tuned {
  margin-top: 5px;
  margin-bottom: 5px;
}

.updates {
  margin-top: 0;
  margin-bottom: 15px;
}

.form {
  display: flex;
}

.form input {
  width: 220px;
  height: 40px;
  margin-right: 10px;
  font-size: 15px;
  border: none;
  border-radius: 0.75rem 0 0 0.75rem;
  padding-left: 15px;
  margin-right: -2%;
}

.input {
  position: relative;
}

.form button {
  width: 90px;
  height: 42px;
  font-size: 15px;
  border: none;
  border-radius: 0 0.75rem 0.75rem 0;
  color: white;
  background-color: #80db4f;
  cursor: pointer;
}

.form button:hover {
  background-color: #71da39;
}

@media only screen and (max-width: 1024px) {
  .news_text h3 {
    font-size: 22px;
  }

  .news_text p {
    font-size: 15px;
  }

  .form input {
    font-size: 13px;
  }

  .form button {
    font-size: 13px;
  }
}

@media only screen and (max-width: 800px) {
  .newsletter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .news_text p {
    font-size: 13px;
  }

  .news_text h3 {
    font-size: 20px;
  }

  .news_text {
    width: 250px;
  }

  .form input {
    width: 190px;
    height: 35px;
    margin-right: 0px;
    padding-left: 10px;
  }

  .form button {
    width: 80px;
    height: 37px;
  }
}

@media only screen and (max-width: 480px) {
  .newsletter {
    align-items: center;
  }

  .news_text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
