.header {
  margin-bottom: 2%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2%;
}

.header_img {
  width: 130%;
  margin-right: -30%;
}

.header_text {
  padding-left: 15%;
  text-align: left;
  display: flex;
  align-items: center;
}

.header_text h1 {
  font-size: 40px;
  font-weight: 700;
  margin: 0;
}

.header_text p {
  font-weight: 600;
  font-size: 22px;
  line-height: 2.1rem;
}

.text_cook {
  margin-top: 3.5%;
  margin-bottom: 0;
}

.text_worry {
  margin: 0;
  margin-bottom: 5%;
}

@media only screen and (max-width: 1024px) {
  .header_text h1 {
    font-size: 32px;
  }

  .header_text p {
    font-size: 18px;
    line-height: 1.9rem;
  }
}

@media only screen and (max-width: 800px) {
  .header_text h1 {
    font-size: 30px;
  }

  .header_text p {
    font-size: 16px;
    line-height: 1.6rem;
  }
}

@media only screen and (max-width: 600px) {
  .header_text h1 {
    font-size: 22px;
  }

  .header_text p {
    font-size: 14px;
    line-height: 1.3rem;
  }
}

@media only screen and (max-width: 480px) {
  .header {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 10%;
  }

  .header_img {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 32%;
  }

  .header_text {
    width: 80%;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 0px;
  }
}
