.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4%;
}

.intro img {
  width: 80%;
  margin-top: 2%;
}

.intro p {
  width: 80%;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 2.1rem;
  margin-top: 1.1%;
  margin-bottom: 0;
}

@media only screen and (max-width: 1024px) {
  .intro p {
    font-size: 16px;
    line-height: 1.8rem;
  }
}

@media only screen and (max-width: 800px) {
  .intro p {
    font-size: 14px;
    line-height: 1.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .intro {
    margin-bottom: 7%;
  }

  .intro p {
    font-size: 12px;
    line-height: 1.2rem;
  }
}
