.mission {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3.5%;
}

.mission h2 {
  font-size: 30px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 1.5%;
}

.mission_text {
  width: 80%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}

.text_card {
  font-weight: 400;
  font-size: 18px;
  line-height: 2.1rem;
  width: 25%;
  background-color: #fdffb4;
  border-radius: 1rem;
}

.text_card p {
  margin: 0;
  padding: 8.5% 10.5%;
}

@media only screen and (max-width: 1024px) {
  .mission h2 {
    font-size: 26px;
  }

  .text_card {
    font-size: 16px;
    line-height: 1.8rem;
  }
}

@media only screen and (max-width: 800px) {
  .mission h2 {
    font-size: 24px;
  }

  .text_card {
    font-size: 14px;
    line-height: 1.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .mission_text {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .text_card {
    width: 80%;
    margin-bottom: 4%;
  }

  .mission h2 {
    font-size: 20px;
    margin-bottom: 2.5%;
  }

  .text_card {
    font-size: 12px;
    line-height: 1.2rem;
  }

  .text_card p {
    margin: 0;
    padding: 4% 5%;
  }
}
