.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal_content {
  width: 60%;
  background-color: #fdffb4;
  border-radius: 0.7rem;
  display: flex;
  flex-direction: column;
}

.modal_content h1 {
  width: 90%;
  margin: 1% auto 2% auto;
  /*color: white;*/
  font-size: 26px;
  font-weight: 600;
}

.modal_close {
  width: 90%;
  margin: 2% auto 0 auto;
  text-align: right;
}

.close {
  cursor: pointer;
  color: #183128;
}

.close:hover {
  color: #177a30;
}

.recipe_info {
  width: 80%;
  margin: 0 auto;
  /*color: white;*/
  display: flex;
  justify-content: space-around;
}

.recipe_info span {
  display: flex;
  align-items: center;
}

.recipe_time,
.recipe_people {
  font-size: 16px;
}

.time,
.people {
  padding-right: 15%;
}

.instructions {
  width: 90%;
  margin: 2% auto 4% auto;
}

.instructions p {
  /*color: white;*/
  font-size: 16px;
  margin: 0;
}

@media only screen and (max-width: 800px) {
  .modal_content {
    width: 80%;
  }
}

@media only screen and (max-width: 600px) {
  .modal_content h1 {
    font-size: 24px;
  }

  .instructions p {
    font-size: 14px;
  }

  .recipe_time,
  .recipe_people {
    font-size: 14px;
  }
}

@media only screen and (max-width: 480px) {
  .modal_content h1 {
    font-size: 20px;
  }

  .instructions p {
    font-size: 12px;
  }

  .recipe_time,
  .recipe_people {
    font-size: 12px;
  }
}
