.professionals {
  margin-bottom: 7%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 7%;
}

.pro_text {
  padding-left: 15%;
  text-align: right;
  display: flex;
  align-items: center;
}

.pro_img {
  width: 120%;
  margin-right: -20%;
}

.pro_text h2 {
  font-size: 30px;
  font-weight: 700;
  margin: 0;
}

.pro_text p {
  font-weight: 400;
  margin-top: 15px;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 2.1rem;
}

@media only screen and (max-width: 1024px) {
  .pro_text h2 {
    font-size: 26px;
  }

  .pro_text p {
    font-size: 16px;
    line-height: 1.8rem;
  }
}

@media only screen and (max-width: 800px) {
  .pro_text h2 {
    font-size: 24px;
  }

  .pro_text p {
    font-size: 14px;
    line-height: 1.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .pro_text h2 {
    font-size: 20px;
  }

  .pro_text p {
    font-size: 12px;
    line-height: 1.2rem;
    margin-top: 5px;
  }
}

@media only screen and (max-width: 480px) {
  .professionals {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .pro_img {
    width: 90%;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 38%;
  }

  .pro_text {
    width: 80%;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 0px;
  }
}
