.recipe_card {
  box-sizing: border-box;
  background-color: #80db4f;
  border-radius: 0.7rem;
  width: 18%;
  height: 30vmax;
  margin-right: 1%;
  margin-left: 1%;
  margin-bottom: 3%;
}

.recipe_img {
  width: 100%;
  height: 50%;
}

.recipe_img img {
  border-radius: 0.7rem 0.7rem 0 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.recipe_text {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.recipe_text h3 {
  margin: 0;
  margin: 4.5% 6.5% 0 7%;
  font-size: 18px;
  font-weight: 600px;
  color: white;
}

.recipe_info {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5%;
}

.info,
.heart {
  color: white;
  cursor: pointer;
}

.info:hover,
.heart:hover {
  color: #183128;
}

@media only screen and (max-width: 1280px) {
  .recipe_card {
    width: 23%;
    margin-right: 1%;
    margin-left: 1%;
  }

  .recipe_text h3 {
    font-size: 16px;
  }
}

@media only screen and (max-width: 1100px) {
  .recipe_card {
    height: 37vmax;
  }
}

@media only screen and (max-width: 1024px) {
  .recipe_card {
    width: 30%;
    margin-right: 1.65%;
    margin-left: 1.65%;
  }
}

@media only screen and (max-width: 800px) {
  .recipe_text h3 {
    font-size: 14px;
  }
}

@media only screen and (max-width: 700px) {
  .recipe_card {
    height: 45vmax;
  }
}

@media only screen and (max-width: 600px) {
  .recipe_card {
    width: 46%;
    margin-right: 2%;
    margin-left: 2%;
  }
}

@media only screen and (max-width: 480px) {
  .recipe_card {
    display: flex;
    width: 100%;
    height: 25vmax;
    margin-right: 0;
    margin-left: 0;
  }

  .recipe_img {
    width: 50%;
    height: 100%;
  }

  .recipe_img img {
    border-radius: 0.7rem 0 0 0.7rem;
  }

  .recipe_text {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
