.bookCard {
  border-style: solid;
  border-width: thin;
  border-radius: 10px;
  border-color: rgb(26, 26, 26);
  margin-left: 25.5%;
  margin-top: 1%;
  padding: 10px 15px 10px 15px;
  display: flex;
  width: 50%;
  flex-direction: column;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
  align-items: center;
  box-shadow: 0px 0px 15px 3px #666666;
}

img {
  padding: 1em 1em 1em 1em;
}

h5 {
  font-size: 1.8vw;
  font-weight: bold;
}

h6 {
  font-size: 1.1vw;
  font-style: oblique;
}

@media screen and (max-width: 768px) and (max-height:1024px) {
  .bookCard {
    margin-top: 1.5%;
    width: 60%;
    margin-left: 20%;
  }

  h5 {
    font-size: 2.3vw;
  }

  h6 {
    font-size: 1.6vw;
  }
}

@media screen and (max-width:375px) and (max-height:667px) {
  h5 {
    font-size: 3.3vw;
  }

  h6 {
    font-size: 2.6vw;
  }
}
