.sfondo {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(books.jpg) no-repeat center center;
  position: fixed;
  z-index: -1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

.blocco {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.testo {
  color: rgb(26, 26, 26);
  font-size: 6vw;
  font-family: inherit;
}

.input {
  font-family: inherit;
}

@media screen and (max-width: 768px) and (max-height:1024px) {
  .sfondo {
    background-position: 65% 100%;
  }

  .testo {
    font-size: 8vw;
  }
}

@media screen and (max-width:375px) and (max-height:667px) {
  .sfondo {
    background-position: 65% 100%;
  }

  .testo {
    font-size: 10vw;
  }
}
