* {
  font-family: "Rubik", sans-serif;
}

body {
  margin: 0;
}

.header {
  background: linear-gradient(#2f80ed, #56ccf2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
}

.title h1 {
  font-weight: bold;
  color: white;
  font-size: 32px;
  margin-top: 2rem;
  margin-bottom: 0;
}

.title p {
  font-style: italic;
  font-weight: 300;
  color: white;
  font-size: 16px;
  margin-top: 0.4rem;
  margin-bottom: 1rem;
}

.form {
  margin-bottom: 4rem;
}

#input {
  border: none;
  height: 1.7rem;
  width: 12rem;
  border-radius: 0.3rem 0 0 0.3rem;
  padding-left: 0.5rem;
}

form {
  display: flex;
  align-items: center;
}

form button {
  border: none;
  height: 1.825rem;
  width: 2rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#btn {
  background-color: #31a1c7;
  color: white;
  padding: 0;
}

#geo {
  background-color: #1b6cd6;
  border-radius: 0 0.3rem 0.3rem 0;
  color: white;
  padding: 0;
}

#btn:hover {
  background-color: #31a1c77c;
}

#geo:hover {
  background-color: #1b6cd6ab;
}

.search {
  display: flex;
  width: 75%;
  height: 6rem;
  background-color: white;
  margin: 0 auto;
  border-radius: 1rem;
  margin-top: -2rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.search_section {
  width: 25%;
  display: flex;
  flex-direction: column;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.search_section h3 {
  color: #8b8b8b;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 16px;
}

.search_section p {
  color: #2e2e2e;
  margin: 0;
  font-size: 14px;
}

.vl {
  border-left: 1px solid #c7c6c6;
}

#aqi {
  background-color: #ffee00;
  padding: 0.5rem;
  border-radius: 0.3rem;
}

#mapid {
  background-color: rgba(255, 127, 80, 0.562);
  position: absolute;
  top: 204.58px;
  bottom: 0;
  width: 100%;
  z-index: -10;
}

@media only screen and (max-width: 800px) {
  .search {
    width: 80%;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
  }

  .search_section {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }

  .search_section h3 {
    margin-bottom: 0.7rem;
  }
}

@media only screen and (max-width: 600px) {
  .search {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 75%;
    height: 18rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .search_section {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0 auto;
  }

  .search_section h3 {
    margin-bottom: 0.7rem;
  }

  .search_section p {
    color: #2e2e2e;
    margin: 0;
    font-size: 14px;
  }

  .vl {
    width: 80%;
    margin: 0 auto;
    border-top: 1px solid #c7c6c6;
  }

  #mapid {
    background-color: rgba(255, 127, 80, 0.562);
    position: absolute;
    top: 204.58px;
    height: 100%;
    width: 100%;
    z-index: -10;
  }
}
