@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

* {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
p {
  color: #183128;
}

.App {
  width: 100wh;
  background-color: white;
  overflow-x: hidden;
}

.login {
  width: 100%;
  height: 100vh;
  margin: 0;
  background: linear-gradient(rgba(116, 66, 66, 0.1), rgba(255, 255, 255, 0.1)),
    url("assets/bg-login.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 800px) {
  .login {
    background-position: center;
  }
}
