@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

* {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
p {
  color: #183128;
}

.App {
  width: 100wh;
  background-color: white;
  overflow-x: hidden;
}
