.cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.banner_img {
  position: relative;
}

.banner_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  margin-top: 2.5%;
}

.banner_text h2 {
  font-size: 30px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 30px;
  color: #fdffb4;
}

@media only screen and (max-width: 1024px) {
  .banner_img {
    width: 80%;
  }

  .banner_text h2 {
    font-size: 26px;
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 800px) {
  .banner_text h2 {
    font-size: 24px;
  }
}

@media only screen and (max-width: 600px) {
  .banner_text h2 {
    font-size: 20px;
    margin-bottom: 5px;
  }
}

@media only screen and (max-width: 480px) {
  .banner_text h2 {
    font-size: 14px;
    margin-bottom: 5px;
  }
}
