.navlog {
  width: 80%;
  margin: 0 auto;
  padding-top: 2%;
  padding-bottom: 2%;
}

.navlog img {
  width: 19%;
}

@media only screen and (max-width: 800px) {
  .navlog img {
    width: 30%;
  }
}
