.nav {
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 0 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav img {
  width: 19%;
}

.nav_list {
  list-style: none;
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul {
  padding: 0;
}

.link {
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  color: #183128;
  position: relative;
}

.link:hover {
  text-decoration: underline;
  text-decoration-color: #177a30;
  text-decoration-thickness: 4px;
  text-underline-offset: 20px;
  color: #177a30;
}

.mobile_menu {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .link {
    font-size: 18px;
  }
}

@media only screen and (max-width: 800px) {
  .link:hover {
    text-underline-offset: 15px;
  }

  .link {
    font-size: 15px;
  }

  .nav img {
    width: 22%;
  }
}

@media only screen and (max-width: 600px) {
  .link:hover {
    text-decoration-thickness: 2px;
    text-underline-offset: 10px;
  }

  .link {
    font-size: 13px;
  }

  .nav img {
    width: 25%;
  }
}

@media only screen and (max-width: 480px) {
  .nav img {
    width: 28%;
  }

  .mobile_menu {
    display: block;
    cursor: pointer;
    color: #177a30;
  }

  .nav_list {
    background-color: #80db4f;
    width: 100vw;
    height: 35vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    top: 40px;
    left: 0;
    padding: 0;
    transform: translateY(-500px);
    transition: 0.5s ease-in-out;
  }

  .link {
    font-size: 18px;
    color: white;
  }

  .link:hover {
    text-decoration: none;
  }
}
