html {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(image.svg) no-repeat center center;
  z-index: -1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: visible;
  background-attachment: fixed;
}

/*--navbar----------------------------------------------*/

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 5px 10px rgba(0, 0, 0, 0.02);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: rgba(28, 22, 60, 0.9);
}

nav ul {
  display: flex;
}

nav ul li a {
  height: 25px;
  line-height: 28px;
  margin: 3px;
  padding: 0px 22px;
  display: flex;
  font-family: monospace;
  font-size: 1rem;
  color: white;
  letter-spacing: 1.2px;
}

nav ul li a:hover {
  background-color: white;
  background-image: linear-gradient(#ffe838, #fd57bf);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  transition: all ease 0.2s;
  font-size: 1.2rem;
}

.menu li {
  list-style: none;
}

.menu a {
  text-decoration: none;
}

/*--header text-----------------------------------------------------*/

#testo-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

#testo-header h1 {
  font-family: 'Permanent Marker', sans-serif;
  font-size: 5rem;
  background-color: white;
  background-image: linear-gradient(#ffe838, #fd57bf);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

#testo-header h4 {
  font-family: monospace;
  font-size: 1rem;
  color: white;
  margin-top: -3%;
}

/*--about section------------------------------------------------*/

#About {
  width: 80%;
  height: 250px;
  background-color: rgba(28, 22, 60, 0.9);
  border-radius: 5px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
  display: flex;
  margin: 5px auto 20px auto;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
}

.about-text {
  width: 600px;
  padding-bottom: 30px;
}

.foto {
  height: 300px;
  padding-top: 55px;
}

.about-text h4{
  font-family: 'Permanent Marker', monospace;
  background-color: white;
  background-image: linear-gradient(#ffe838, #fd57bf);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  font-size: 1.5rem;
}

.about-text p{
  color: white;
  font-family: monospace;
  text-transform: uppercase;
  font-size: 1rem;
}

/*--skill section---------------------------------------------------*/

#Skills {
  width: 90%;
  display: flex;
  margin: 50px auto auto auto;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
}

.skill-text {
  margin-bottom: 3%;
}

.skill-text h4{
  font-family: 'Permanent Marker', monospace;
  background-color: white;
  background-image: linear-gradient(#ffe838, #fd57bf);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  font-size: 1.5rem;
}

.skill-text p{
  color: white;
  font-family: monospace;
  text-transform: uppercase;
  font-size: 1rem;
}

#progress-bar{
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 100px;
  row-gap: 1.5em;
  position: absolute;
  margin-top: 45%;
  margin-right: 3%;
}

.progress {
  width: 450px;
  height: 25px;
}

progress {
  border-radius: 5px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}
progress::-webkit-progress-bar {
  background-color: white;
  border-radius: 5px;
}
progress::-webkit-progress-value {
  background-color: blue;
  border-radius: 5px;
  background-color: white;
  background-image: linear-gradient(45deg , #ffe838, #fd57bf);
  background-size: 100%;
}

span {
  display: grid;
  color: white;
  font-family: monospace;
  font-size: 1rem;
  text-transform: uppercase;
}

/*--contact section-----------------------------------------------*/

#Contatti {
  display: grid;
  margin: 27% auto 5% auto;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
}

.contact-text {
  margin-bottom: 5%;
}

.contact-text h4{
  font-family: 'Permanent Marker', monospace;
  background-color: white;
  background-image: linear-gradient(#ffe838, #fd57bf);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  font-size: 1.5rem;
}

.contact-text p{
  color: white;
  font-family: monospace;
  text-transform: uppercase;
  font-size: 1rem;
}

.form {
  display: grid;
  position: relative;
}

label {
  font-family: monospace;
  font-size: 1rem;
  color: white;
  text-transform: uppercase;
}

input {
  margin-bottom: 3%;
  font-family: monospace;
}

select {
  margin-bottom: 3%;
}

#lavoro {
  font-family: monospace;
}

textarea {
  margin-bottom: 3%;
}

.bottone {
  height: 100%;
  color: white;
  text-transform: uppercase;
  background-color: white;
  background-image: linear-gradient(45deg, #ffe838, #fd57bf);
  background-size: 100%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/*--footer--------------------------------------------------------*/

footer{
  width: 100%;
  left: 0;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  box-shadow: 5px 10px rgba(0, 0, 0, 0.02);
  width: 100%;
  z-index: 1;
  background-color: rgba(28, 22, 60, 0.9);
}

footer p{
  color: white;
  font-family: monospace;
  font-size: 1rem;
  text-transform: uppercase;
  margin-top: -1%;
}

.social-icons a{
  text-decoration: none;
  width:40px;
  height:40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:20px 10px;
  border-radius: 50%;
}

.social-icons {
  display: flex;
  margin-top: -1%;
}

.social-icons i{
  color: white;
}

.social-icons a:hover{
  transition: all ease 0.2s;
  width: 45px;
  height: 45px;
  background-color: white;
  background-image: linear-gradient(#ffe838, #fd57bf);
}

/*--media 1024-----------------------------------------------------*/

@media (max-width: 1024px) {
  #About {
    height: 300px;
  }

  .about-text {
    width: 400px;
    padding-bottom: 30px;
  }

  #progress-bar{
    column-gap: 60px;
    row-gap: 1em;
    position: absolute;
    margin-top: 55%;
  }

  .progress {
    width: 300px;
    height: 15px;
  }

  .social-icons {
    margin-top: -1.5%;
  }
}

/*--media 800----------------------------------------------------*/

@media (max-width: 800px) {
  nav ul li a {
    height: 50px;
    line-height: 56px;
    margin: 6px;
    padding: 0px 22px;
    display: flex;
    font-family: monospace;
    font-size: 1.5rem;
    color: white;
    letter-spacing: 1.2px;
  }

  nav ul li a:hover {
    font-size: 1.7rem;
  }

  #testo-header h1 {
    font-size: 8rem;
  }

  #testo-header h4 {
    font-size: 1.6rem;
  }

  #About {
    height: 720px;
  }

  .about-text {
    width: 250px;
    padding-bottom: 30px;
  }

  .about-text h4{
    font-size: 2.2rem;
  }

  .about-text p{
    font-size: 1.4rem;
  }

  #Skills{
    width: 80%;
  }

  .skill-text h4{
    font-size: 2.2rem;
  }

  .skill-text p{
    font-size: 1.4rem;
  }

  #progress-bar{
    column-gap: 45px;
    row-gap: 1.2em;
    position: absolute;
    margin-top: 120%;
  }

  .progress {
    width: 270px;
    height: 20px;
  }

  span{
    font-size: 1.4rem;
  }

  #Contatti{
    width: 50%;
    margin: 40% auto 5% auto;
  }

  .contact-text h4{
    font-size: 2.2rem;
  }

  .contact-text p{
    font-size: 1.4rem;
    margin-bottom: -1%;
  }

  label{
    font-size: 1.4rem;
  }

  footer p{
    font-size: 1.4rem;
  }
}

/*--media 600------------------------------------------------------*/

@media (max-width: 600px) {
  nav ul {
    display: flex;
    margin-right: 45px;
  }

  #testo-header h1 {
    font-size: 6rem;
  }

  #testo-header h4 {
    font-size: 1.2rem;
  }

  #About{
    display: block;
    height: 575px;
  }

  .foto {
    height: 300px;
    padding-top: 3%;
    padding-left: 26%;
  }

  .about-text {
    width: 380px;
    margin-top: -18%;
    margin-right: 20%;
    padding-left: 10%;
  }

  .about-text h4{
    font-size: 1.6rem;
  }

  .about-text p{
    font-size: 1.1rem;
  }

  #Skills{
    width: 75%;
  }

  .skill-text h4{
    font-size: 1.6rem;
  }

  .skill-text p{
    font-size: 1.1rem;
  }

  #progress-bar{
    display: block;
    margin-top: 200%;
    margin-right: 27%:
  }

  .progress {
    width: 375px;
    height: 17px;
  }

  progress{
    margin-bottom: 4%;
  }

  span{
    display: block;
    font-size: 1.1rem;
  }

  #Contatti{
    margin: 87% auto 5% auto;
  }

  .contact-text h4{
    font-size: 1.6rem;
  }

  .contact-text p{
    font-size: 1.1rem;
  }

  label{
    font-size: 1.1rem;
  }

  footer p{
    font-size: 1.1rem;
    margin-top: -3%;
  }

  .social-icons {
    margin-top: -2.5%;
  }
}

/*--media 375-----------------------------------------------------*/

@media (max-width: 375px) {
  nav ul {
    display: flex;
    margin-right: 57px;
  }

  nav ul li a {
    height: 35px;
    line-height: 41px;
    margin: 0.8px;
    padding: 0px 0px 0px 20px;
    display: flex;
    font-family: monospace;
    font-size: 1rem;
    color: white;
  }

  nav ul li a:hover {
    font-size: 1.2rem;
  }

  #testo-header h1 {
    font-size: 4rem;
  }

  #testo-header h4 {
    font-size: 0.8rem;
  }

  #About{
    height: 450px;
  }

  .foto {
    height: 200px;
  }

  .about-text {
    width: 230px;
    margin-top: -20%;
    margin-right: 20%;
    padding-left: 9%;
  }

  .about-text h4{
    font-size: 1.2rem;
  }

  .about-text p{
    font-size: 0.8rem;
  }

  .skill-text h4{
    font-size: 1.2rem;
  }

  .skill-text p{
    font-size: 0.8rem;
  }

  #progress-bar{
    margin-top: 245%;
  }

  .progress {
    width: 210px;
    height: 10px;
  }

  progress{
    margin-bottom: 3%;
  }

  span{
    font-size: 0.8rem;
  }

  #Contatti{
    margin: 90% auto 5% auto;
  }

  .contact-text h4{
    font-size: 1.2rem;
  }

  .contact-text p{
    font-size: 0.8rem;
  }

  input {
    font-size: 0.8rem;
  }

  #lavoro{
    font-size: 0.8rem;
  }

  textarea{
    font-size: 0.8rem;
  }

  label{
    font-size: 0.8rem;
  }

  footer p{
    font-size: 0.8rem;
    margin-top: -4%;
  }

  .social-icons {
    margin-top: -7%;
  }
}
