.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 300px;
  background-color: #177a30;
  margin-top: -10px;
}

.bg_top {
  width: 100%;
}

.footer_logo {
  width: 225px;
}

.logo_contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo_contacts p {
  display: flex;
  align-items: center;
  font-size: 17px;
  color: white;
}

.logo_contacts span {
  color: white;
  margin-right: 5px;
  margin-top: 5px;
}

.socials {
  color: white;
  cursor: pointer;
}

.fb:hover,
.ig:hover,
.tw:hover,
.pin:hover {
  color: #71da39;
}

.fb,
.ig,
.tw {
  margin-right: 10px;
}

.news_text h3 {
  color: white;
  font-size: 25px;
  margin: 0;
}

.news_text p {
  color: white;
  font-size: 17px;
}

.tuned {
  margin-top: 5px;
  margin-bottom: 5px;
}

.updates {
  margin-top: 0;
  margin-bottom: 15px;
}

.form {
  display: flex;
}

.form input {
  width: 235px;
  height: 40px;
  margin-right: 10px;
  font-size: 15px;
  border: none;
  border-radius: 0.75rem;
  padding-left: 15px;
}

.input {
  position: relative;
}

.form button {
  width: 120px;
  height: 40px;
  font-size: 15px;
  border: none;
  border-radius: 0.75rem;
  color: white;
  background-color: #80db4f;
  cursor: pointer;
}

.form button:hover {
  background-color: #71da39;
}

@media only screen and (max-width: 1024px) {
  .logo_contacts p {
    font-size: 15px;
  }

  .news_text h3 {
    font-size: 22px;
  }

  .news_text p {
    font-size: 15px;
  }

  .form input {
    font-size: 13px;
  }

  .form button {
    width: 120px;
    height: 40px;
    font-size: 13px;
    border: none;
  }
}

@media only screen and (max-width: 800px) {
  .footer_logo {
    width: 180px;
  }

  .newsletter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .logo_contacts p,
  .news_text p {
    font-size: 13px;
  }

  .news_text h3 {
    font-size: 20px;
  }

  .news_text {
    width: 250px;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .form input {
    width: 200px;
    height: 35px;
    margin-right: 0px;
    padding-left: 10px;
  }

  .form button {
    margin-top: 25px;
    width: 100px;
    height: 35px;
  }
}

@media only screen and (max-width: 600px) {
  .footer_logo {
    width: 140px;
  }
}

@media only screen and (max-width: 480px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
  }

  .footer_logo {
    width: 190px;
  }

  .logo_contacts {
    margin-bottom: 40px;
  }

  .newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .news_text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form input {
    width: 250px;
  }
}
