.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 300px;
  background-color: #177a30;
  margin-top: -10px;
}

.bg_top {
  width: 100%;
}

.footer_logo {
  width: 225px;
}

.logo_contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo_contacts p {
  display: flex;
  align-items: center;
  font-size: 17px;
  color: white;
}

.logo_contacts span {
  color: white;
  margin-right: 5px;
  margin-top: 5px;
}

.socials {
  color: white;
  cursor: pointer;
}

.fb:hover,
.ig:hover,
.tw:hover,
.pin:hover {
  color: #71da39;
}

.fb,
.ig,
.tw {
  margin-right: 10px;
}

@media only screen and (max-width: 1024px) {
  .logo_contacts p {
    font-size: 15px;
  }
}

@media only screen and (max-width: 800px) {
  .footer_logo {
    width: 180px;
  }

  .logo_contacts p {
    font-size: 13px;
  }
}

@media only screen and (max-width: 600px) {
  .footer_logo {
    width: 140px;
  }
}

@media only screen and (max-width: 480px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
  }

  .footer_logo {
    width: 190px;
  }

  .logo_contacts {
    margin-bottom: 40px;
  }
}
